
.rec.rec-arrow {
    border-radius: 50;
    background: #333;
    color: #00ff00;
    display: none;
  }
  /* hide disabled buttons */
  .rec.rec-arrow:disabled {
    visibility: hidden;
    background: #333;
    color: #00ff00;
     display: none;
  }
  .rec.rec-arrow::selection,
  ::after {
    background: #333;
    color: #00ff00;
     display: none;
  }
  
  .rec.rec-arrow::shadow {
    visibility: visible;
     display: none;
  }
  .rec.rec-dot {
    background: #C4C4C4;
    border: 2px #333;
    border-radius: 180;
  }
  .rec.rec-dot_active {
    border: #333;
    background:  #C4C4C4;
  ;
    
  }
  
  .brStyleCard{
    
     width: 85%;
     align-content: center;
     margin: auto;
     border-bottom: 4px solid  rgba(196, 196, 196, 0.25);
     justify-content: center;
  
  }
  
  .NaveenCard{
    width: 100%;
    height: auto;
  }
  
  
  
  .EventTilesInfo{
  
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.125em;
    
    color:#000;
    text-align: center;
    font-weight: bolder;
  }
  
  .CarouselWidthController{
    width: 75%;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  
  
  
  
  
  
  
  @media screen and (max-width :780px) {
     .ImageMaincard{
       width: 300px;
       height: auto;
     }
  }
  
  @media screen and (max-width :460px) {
    .ImageMaincard {
      width: 250px;
      height: auto;
    }
  
       
  }
  
   @media screen and (max-width :390px) {
      
      .ImageMaincard {
        width: 200px;
        height: auto;
      }
  
   }
  
   #CHALLENGESimg{
     margin: auto;
     display: flex;
     justify-content: center;
     align-items: center;
   }